.about-wrap {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
        flex-flow: column;
    }
}

.text {
//    flex-grow: 2;
    color: $color-primary-black;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 100%;
 //   max-width: 50rem;
    p {
        max-width: 50rem;
    }

    @include respond(phone) {
        flex-grow: 0;
        width: auto;
        margin-left: 0px;
        margin: 4rem;
    }
}

.picture {
    width: 100%;
    text-align: right;
    @include respond(phone) {
      //  margin-top: 7rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    img {
        width: 30%;
        height: auto;

        @include respond(tab-port) {
            width: 40%;
        }
    }
}
