.contact-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    color: $color-primary-black;
    @include respond(phone){
        min-height: inherit;
    }
}

.contact-header {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 8rem;

    @include respond(tab-land){
        margin-top: 3rem;
    }
    @include respond(phone-land) {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    @include respond(phone) {
        margin-bottom: 4rem;
    }
}
.contact-form {
    display: flex;
    flex-flow: column;
    width: 60rem;

    @include respond(phone) {
        width: 85vw;
        margin-bottom: 4rem;
    }
}

.contact-form > * {
    margin-top: 2rem;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
}

.input {
    &-name, &-email {
        height: 4rem;
        padding: .5rem;

        border: 1px solid rgba($color-primary-black, .3);
    }
    &-text {
        padding: .5rem;
        border: 1px solid rgba($color-primary-black, .3);
    }
    &-name:hover, &-email:hover, &-text:hover {
        border: 1px solid rgba($color-primary-black, .7);
    }
    &-name:focus, &-text:focus, &-email:focus, &-submit:focus {
        outline: none;
        border: 2px solid rgba($color-primary-black, .3);
    }
    &-submit {
        border-radius: 5px;
        box-shadow: none;
        background-color: white;
        color: $color-primary-black;
        border: 2px solid rgba($color-primary-black, .7);
        padding: 2rem 0;
        letter-spacing: 1;

        @include respond(phone-land){
           margin-bottom: 2rem;
        }
    }
    &-submit:hover {
        cursor: pointer;
        background-color: $color-primary-black;
        color: #fff;
    }
    &-submit:hover .spinner > div {
        background-color: #fff;
    }
}

.text-warning {
    font-size: 1.3rem;
    color: #FE001E;
}
