body {
    background-color: $body-bg;
}

.header {
    position: sticky;
    position: -webkit-sticky;
    z-index: 100;
    top: 0;
    transition: all 1.5s;

    height: 6.5rem;
    padding-left: 6.5rem;
    padding-right: 6.5rem;

    background-color: $body-bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__menu {
        display: flex;
        height: 100%;
        align-items: center;
        text-decoration: none;
        list-style-type: none;

        &:hover {
            cursor: pointer;
        }

        &--item {
            position: relative;
            padding: 0 1.75rem;
            height: 100%;

            display: flex;
            align-items: center;


            a:link,
            a:visited,
            a:active {
                text-decoration: none;
                color: $color-primary-black;
            }
            &:hover, &:hover a {
                background-color: #333;
                color: white;
            }

            &-active_ {
                font-weight: 700;
                &::after {
                    content: '';
                    display: block;
                    position: relative;
                    top: 100%;
                    height: 2px;
                    width: auto;
                    background-color: $color-red;
                    margin: 0;
                }
            }
            &-active {
                font-weight: 700;
                border-bottom: 2px solid $color-red;
            }
        }

    }
}

.header.shadow-s {
    box-shadow: 1px 1px 1px rgba(0,0,0, .3);
}
