.card {
    margin-right: 5rem; //only temp
    margin-bottom: 1rem;
    position: relative;
    height: 50rem;
    width: 33.333rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 10px 0 rgba(0,0,0, .8);

    @include respond(tab-port){
        height: 50rem;
        width: 33.333rem;
    }

    @include respond(phone-land){
        height: 30rem;
    }

    &__lms {
        height: 100%;
        background-image: linear-gradient(to right, rgba(112,231,140,.3), rgba(112,231,140,.3)), url('/img/lms-large.jpg');
        background-size: cover;
    }
    &__exam {
        height: 100%;
        background-image: linear-gradient(to right, rgba($exam-main,.3), rgba($exam-main,.3)), url('/img/exam-large.jpg');
        background-size: cover;
    }
    &__chat {
        height: 100%;
        background-image: linear-gradient(to right, rgba($chat-main,.3), rgba($chat-main,.3)), url('/img/chat-large.jpg');
        background-size: cover;

        @include respond(phone-land){
            background-position: center;
        }
    }
    &__tours {
        height: 100%;
        background-image: linear-gradient(to right, rgba($tours-main,.3), rgba($tours-main,.3)), url('/img/tours-large.jpg');
        background-size: cover;
    }
    &__resort {
        height: 100%;
        background-image: linear-gradient(to right, rgba($resort-main,.3), rgba($resort-main,.3)), url('/img/resort-large.jpg');
        background-size: cover;
        @include respond(phone-land){
            background-position: center;
        }
    }
    &__estate {
        height: 100%;
        background-image: linear-gradient(to right, rgba($estate-main,.3), rgba($estate-main,.3)), url('/img/estate-large.jpg');
        background-size: cover;
    }

    &:hover {
        cursor: pointer;
    }


    &__blur {
        transition: all .3s;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 15;
        height: 100%;
        width: 100%;
        &--lms{
            height: 100%;
            background-image: linear-gradient(to right rgba(0, 0, 0,.4), rgba(0,0,0,.4)), linear-gradient(to right, rgba(112,231,140,.5), rgba(112,231,140,.5)), url('/img/lms-large.jpg');
            background-size: cover;
            filter: blur(3px);
        }
        &--exam{
            height: 100%;
            background-image: linear-gradient(to right rgba(0, 0, 0,.4), rgba(0,0,0,.4)), linear-gradient(to right, rgba($exam-main,.5), rgba($exam-main,.5)), url('/img/exam-large.jpg');
            background-size: cover;
            filter: blur(3px);
        }
        &--chat{
            height: 100%;
            background-image: linear-gradient(to right rgba(0, 0, 0,.4), rgba(0,0,0,.4)), linear-gradient(to right, rgba($chat-main,.5), rgba($chat-main,.5)), url('/img/chat-large.jpg');
            background-size: cover;
            filter: blur(3px);

            @include respond(phone-land){
                background-position: center;
            }
        }
        &--tours{
            height: 100%;
            background-image: linear-gradient(to right rgba(0, 0, 0,.4), rgba(0,0,0,.4)), linear-gradient(to right, rgba($tours-main,.5), rgba($tours-main,.5)), url('/img/tours-large.jpg');
            background-size: cover;
            filter: blur(3px);
        }
        &--resort{
            height: 100%;
            background-image: linear-gradient(to right rgba(0, 0, 0,.4), rgba(0,0,0,.4)), linear-gradient(to right, rgba($resort-main,.5), rgba($resort-main,.5)), url('/img/resort-large.jpg');
            background-size: cover;
            filter: blur(3px);

            @include respond(phone-land){
                background-position: center;
            }
        }
        &--estate{
            height: 100%;
            background-image: linear-gradient(to right rgba(0, 0, 0,.4), rgba(0,0,0,.4)), linear-gradient(to right, rgba($estate-main,.5), rgba($estate-main,.5)), url('/img/estate-large.jpg');
            background-size: cover;
            filter: blur(3px);
        }
    }


    &__onhover {
        transition: all .3s;
        opacity: 0;
        position: relative;
        z-index: 30;
        color: #fff;
        &--title {
            margin-top: 4rem;
            margin-bottom: 3rem;
            text-align: center;
            font-size: 1.6rem;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            line-height: 1.75;
        }
        &--tooling {
            font-size: 1.6rem;
            text-align: center;
            letter-spacing: 1.2px;
            margin-top: 2.5rem;
        }
        &--tools{
            font-size: 1.4rem;
            letter-spacing: 1.1px;
            text-align: center;
            margin-top: 1rem;;
        }
    }
    .card__tech {
        display: flex;
        justify-content: center;
        list-style: none;
        letter-spacing: 1.2;
        font-size: 1.6rem;
        line-height: 2.8rem;
        &-front {
            text-align: center;
            flex-grow: 1;
            &--title {
                font-weight: 700;
            }
        }
        &-back {
            flex-grow: 1;
            text-align: center;
            list-style: none;
            &--title {
                font-weight: 700;
            }
        }
    }

    &:hover &__blur, &:hover &__onhover{
        opacity: 1;
    }

    &__title {
        position: relative;
        z-index: 15;
        height: 15rem;
        padding: 2.5rem 5.5rem;

        color: $color-primary-white;
        font-size: 1.6rem;
        letter-spacing: 1.2px;
        line-height: 1.75;
        text-align: center;
        text-transform: uppercase;

        @include respond(phone-land){
            padding-top: 9rem;
            height: 100%;
        }
    }
    &__title--lms {
        background-color: $lms-main;
        @include respond(phone-land){
            background-color: rgba($lms-main, .7);
        }
    }
    &__title--exam {
        background-color: $exam-main;
        @include respond(phone-land){
            background-color: rgba($exam-main, .7);
        }
    }
    &__title--chat {
        background-color: $chat-main;
        @include respond(phone-land){
            background-color: rgba($chat-main, .7);
        }
    }
    &__title--tours {
        background-color: $tours-main-dark;
        @include respond(phone-land){
            background-color: rgba($tours-main, .7);
        }
    }
    &__title--resort {
        background-color: $resort-main;
        @include respond(phone-land){
            background-color: rgba($resort-main, .7);
        }
    }
    &__title--estate {
        background-color: $estate-main;
        @include respond(phone-land){
            background-color: rgba($estate-main, .7);
        }
    }
    &__subtitle {
        text-transform: none;
        font-weight: 700;
    }
}
