/*
phone
tablet - portrait
tablet - landscape
default
big screen

1em = 16px

*/

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.header {
  color: #333;
}

.header__text {
  font-size: 1.8rem;
  font-weight: 400;
}

.header__menu--item {
  font-size: 1.4rem;
  letter-spacing: 1.4px;
}

@media (max-width: 37.5em) {
  .header__menu--item {
    letter-spacing: 1px;
  }
}

.text-bold {
  font-weight: 700;
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
}

@keyframes type {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* VueJS transition */

.component-fade-enter-active,
.component-fade-leave-active {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}

.u-width-1 {
  width: 10rem;
}

body {
  background-color: #f5f5f5;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  top: 0;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  height: 6.5rem;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 37.5em) {
  .header {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 37.5em) {
  .header__text {
    display: none;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style-type: none;
}

@media (max-width: 37.5em) {
  .header__menu {
    width: 100vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__menu:hover {
  cursor: pointer;
}

.header__menu--item {
  position: relative;
  padding: 0 1.75rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu--item a:link,
.header__menu--item a:visited,
.header__menu--item a:active {
  text-decoration: none;
  color: #333;
}

.header__menu--item:hover,
.header__menu--item:hover a {
  background-color: #333;
  color: white;
}

.header__menu--item-active_ {
  font-weight: 700;
}

.header__menu--item-active_::after {
  content: '';
  display: block;
  position: relative;
  top: 100%;
  height: 2px;
  width: auto;
  background-color: #ea1438;
  margin: 0;
}

.header__menu--item-active {
  font-weight: 700;
  border-bottom: 2px solid #ea1438;
}

.header.shadow-s {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.main {
  margin: 0 6.5rem 6.5rem 6.5rem;
  background-color: #fff;
  min-height: calc(100vh - 13rem);
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-height: 32em) {
  .main {
    margin: 0;
    min-height: calc(100vh - 6rem);
  }
}

@media (max-width: 37.5em) {
  .main {
    min-height: calc(100vh - 6.5rem);
    margin: 0;
  }
}

.main-wrap {
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main.project-view {
  margin: 0;
  height: auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.hero__title-1 {
  color: #888;
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 1.9px;
  margin-bottom: 4.5rem;
  -webkit-animation: type 1s steps(10), blink 0.7s 5 alternate;
          animation: type 1s steps(10), blink 0.7s 5 alternate;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: hidden;
  white-space: nowrap;
  width: 10ch;
  border-right: 3px solid;
}

@media (max-height: 32em) {
  .hero__title-1 {
    margin-top: -7rem;
    margin-bottom: 2rem;
  }
}

.hero__title-2 {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 1.9px;
  margin-bottom: 8rem;
  color: #333;
}

@media (max-height: 32em) {
  .hero__title-2 {
    margin-bottom: 3rem;
  }
}

.hero__button {
  text-decoration: none;
  border-radius: 5px;
  border: solid 3px #333;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333;
  padding: 2rem 6rem;
}

.hero__button:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.arrow {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.arrow img {
  width: 90x;
  height: 48px;
}

.arrow:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.main-carousel {
  width: 70%;
}

@media (max-width: 87.5em) {
  .main-carousel {
    width: 80%;
  }
}

@media (max-width: 37.5em) {
  .main-carousel {
    width: 90%;
  }
}

.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: inherit;
  color: #333;
}

@media (max-width: 37.5em) {
  .contact-wrap {
    min-height: inherit;
  }
}

.contact-header {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 8rem;
}

@media (max-width: 87.5em) {
  .contact-header {
    margin-top: 3rem;
  }
}

@media (max-height: 32em) {
  .contact-header {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 37.5em) {
  .contact-header {
    margin-bottom: 4rem;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 60rem;
}

@media (max-width: 37.5em) {
  .contact-form {
    width: 85vw;
    margin-bottom: 4rem;
  }
}

.contact-form > * {
  margin-top: 2rem;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.input-name,
.input-email {
  height: 4rem;
  padding: .5rem;
  border: 1px solid rgba(51, 51, 51, 0.3);
}

.input-text {
  padding: .5rem;
  border: 1px solid rgba(51, 51, 51, 0.3);
}

.input-name:hover,
.input-email:hover,
.input-text:hover {
  border: 1px solid rgba(51, 51, 51, 0.7);
}

.input-name:focus,
.input-text:focus,
.input-email:focus,
.input-submit:focus {
  outline: none;
  border: 2px solid rgba(51, 51, 51, 0.3);
}

.input-submit {
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
  color: #333;
  border: 2px solid rgba(51, 51, 51, 0.7);
  padding: 2rem 0;
  letter-spacing: 1;
}

@media (max-height: 32em) {
  .input-submit {
    margin-bottom: 2rem;
  }
}

.input-submit:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.input-submit:hover .spinner > div {
  background-color: #fff;
}

.text-warning {
  font-size: 1.3rem;
  color: #FE001E;
}

.about-wrap {
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 37.5em) {
  .about-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.text {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  color: #333;
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  max-width: 50rem;
}

@media (max-width: 37.5em) {
  .text {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: auto;
    margin-left: 0px;
    margin: 4rem;
  }
}

.picture {
  text-align: right;
}

@media (max-width: 37.5em) {
  .picture {
    margin-bottom: 3rem;
    text-align: center;
  }
}

.picture img {
  width: 30%;
  height: auto;
}

.card {
  margin-right: 5rem;
  margin-bottom: 1rem;
  position: relative;
  height: 50rem;
  width: 33.333rem;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.8);
}

@media (max-width: 56.25em) {
  .card {
    height: 50rem;
    width: 33.333rem;
  }
}

@media (max-height: 32em) {
  .card {
    height: 30rem;
  }
}

.card__lms {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(112, 231, 140, 0.3)), to(rgba(112, 231, 140, 0.3))), url("/img/lms-large.jpg");
  background-image: linear-gradient(to right, rgba(112, 231, 140, 0.3), rgba(112, 231, 140, 0.3)), url("/img/lms-large.jpg");
  background-size: cover;
}

.card__exam {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(150, 105, 142, 0.3)), to(rgba(150, 105, 142, 0.3))), url("/img/exam-large.jpg");
  background-image: linear-gradient(to right, rgba(150, 105, 142, 0.3), rgba(150, 105, 142, 0.3)), url("/img/exam-large.jpg");
  background-size: cover;
}

.card__chat {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(177, 193, 122, 0.3)), to(rgba(177, 193, 122, 0.3))), url("/img/chat-large.jpg");
  background-image: linear-gradient(to right, rgba(177, 193, 122, 0.3), rgba(177, 193, 122, 0.3)), url("/img/chat-large.jpg");
  background-size: cover;
}

@media (max-height: 32em) {
  .card__chat {
    background-position: center;
  }
}

.card__tours {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(99, 198, 122, 0.3)), to(rgba(99, 198, 122, 0.3))), url("/img/tours-large.jpg");
  background-image: linear-gradient(to right, rgba(99, 198, 122, 0.3), rgba(99, 198, 122, 0.3)), url("/img/tours-large.jpg");
  background-size: cover;
}

.card__resort {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(196, 96, 74, 0.3)), to(rgba(196, 96, 74, 0.3))), url("/img/resort-large.jpg");
  background-image: linear-gradient(to right, rgba(196, 96, 74, 0.3), rgba(196, 96, 74, 0.3)), url("/img/resort-large.jpg");
  background-size: cover;
}

@media (max-height: 32em) {
  .card__resort {
    background-position: center;
  }
}

.card__estate {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(66, 196, 192, 0.3)), to(rgba(66, 196, 192, 0.3))), url("/img/estate-large.jpg");
  background-image: linear-gradient(to right, rgba(66, 196, 192, 0.3), rgba(66, 196, 192, 0.3)), url("/img/estate-large.jpg");
  background-size: cover;
}

.card:hover {
  cursor: pointer;
}

.card__blur {
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 15;
  height: 100%;
  width: 100%;
}

.card__blur--lms {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(rgba(112, 231, 140, 0.5)), to(rgba(112, 231, 140, 0.5))), url("/img/lms-large.jpg");
  background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(to right, rgba(112, 231, 140, 0.5), rgba(112, 231, 140, 0.5)), url("/img/lms-large.jpg");
  background-size: cover;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.card__blur--exam {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(rgba(150, 105, 142, 0.5)), to(rgba(150, 105, 142, 0.5))), url("/img/exam-large.jpg");
  background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(to right, rgba(150, 105, 142, 0.5), rgba(150, 105, 142, 0.5)), url("/img/exam-large.jpg");
  background-size: cover;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.card__blur--chat {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(rgba(177, 193, 122, 0.5)), to(rgba(177, 193, 122, 0.5))), url("/img/chat-large.jpg");
  background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(to right, rgba(177, 193, 122, 0.5), rgba(177, 193, 122, 0.5)), url("/img/chat-large.jpg");
  background-size: cover;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@media (max-height: 32em) {
  .card__blur--chat {
    background-position: center;
  }
}

.card__blur--tours {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(rgba(99, 198, 122, 0.5)), to(rgba(99, 198, 122, 0.5))), url("/img/tours-large.jpg");
  background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(to right, rgba(99, 198, 122, 0.5), rgba(99, 198, 122, 0.5)), url("/img/tours-large.jpg");
  background-size: cover;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.card__blur--resort {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(rgba(196, 96, 74, 0.5)), to(rgba(196, 96, 74, 0.5))), url("/img/resort-large.jpg");
  background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(to right, rgba(196, 96, 74, 0.5), rgba(196, 96, 74, 0.5)), url("/img/resort-large.jpg");
  background-size: cover;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@media (max-height: 32em) {
  .card__blur--resort {
    background-position: center;
  }
}

.card__blur--estate {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(rgba(66, 196, 192, 0.5)), to(rgba(66, 196, 192, 0.5))), url("/img/estate-large.jpg");
  background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(to right, rgba(66, 196, 192, 0.5), rgba(66, 196, 192, 0.5)), url("/img/estate-large.jpg");
  background-size: cover;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.card__onhover {
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  position: relative;
  z-index: 30;
  color: #fff;
}

.card__onhover--title {
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  line-height: 1.75;
}

.card__onhover--tooling {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: 2.5rem;
}

.card__onhover--tools {
  font-size: 1.4rem;
  letter-spacing: 1.1px;
  text-align: center;
  margin-top: 1rem;
}

.card .card__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  letter-spacing: 1.2;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.card .card__tech-front {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card .card__tech-front--title {
  font-weight: 700;
}

.card .card__tech-back {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  list-style: none;
}

.card .card__tech-back--title {
  font-weight: 700;
}

.card:hover .card__blur,
.card:hover .card__onhover {
  opacity: 1;
}

.card__title {
  position: relative;
  z-index: 15;
  height: 15rem;
  padding: 2.5rem 5.5rem;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  line-height: 1.75;
  text-align: center;
  text-transform: uppercase;
}

@media (max-height: 32em) {
  .card__title {
    padding-top: 9rem;
    height: 100%;
  }
}

.card__title--lms {
  background-color: #42b281;
}

@media (max-height: 32em) {
  .card__title--lms {
    background-color: rgba(66, 178, 129, 0.7);
  }
}

.card__title--exam {
  background-color: #96698e;
}

@media (max-height: 32em) {
  .card__title--exam {
    background-color: rgba(150, 105, 142, 0.7);
  }
}

.card__title--chat {
  background-color: #B1C17A;
}

@media (max-height: 32em) {
  .card__title--chat {
    background-color: rgba(177, 193, 122, 0.7);
  }
}

.card__title--tours {
  background-color: #5fcc79;
}

@media (max-height: 32em) {
  .card__title--tours {
    background-color: rgba(99, 198, 122, 0.7);
  }
}

.card__title--resort {
  background-color: #c4604a;
}

@media (max-height: 32em) {
  .card__title--resort {
    background-color: rgba(196, 96, 74, 0.7);
  }
}

.card__title--estate {
  background-color: #42c4c0;
}

@media (max-height: 32em) {
  .card__title--estate {
    background-color: rgba(66, 196, 192, 0.7);
  }
}

.card__subtitle {
  text-transform: none;
  font-weight: 700;
}

.main-wrap.project {
  display: block;
  padding: 0 35rem 5rem 35rem;
  height: auto;
}

@media (max-width: 87.5em) {
  .main-wrap.project {
    padding: 1px 0rem;
    width: auto;
  }
}

@media (max-width: 56.25em) {
  .main-wrap.project {
    padding: 1px 0rem;
    width: auto;
  }
}

@media (max-width: 37.5em) {
  .main-wrap.project {
    padding: 1px 0rem;
    width: auto;
  }
}

.title {
  height: 25vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 8rem;
}

@media (max-height: 32em) {
  .title {
    padding: 3rem;
  }
}

@media (max-width: 37.5em) {
  .title {
    padding: 3rem;
  }
}

.title .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.title .bg-image--lms {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #42b281;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(66, 178, 129, 0.7)), to(rgba(66, 178, 129, 0.7))), url("/img/lms-large.jpg");
  background-image: linear-gradient(to right, rgba(66, 178, 129, 0.7), rgba(66, 178, 129, 0.7)), url("/img/lms-large.jpg");
  background-size: cover;
  background-position: center 47%;
}

.title .bg-image--exam {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(150, 105, 142, 0.7)), to(rgba(150, 105, 142, 0.7))), url("/img/exam-large.jpg");
  background-image: linear-gradient(to right, rgba(150, 105, 142, 0.7), rgba(150, 105, 142, 0.7)), url("/img/exam-large.jpg");
  background-position: center;
  background-size: cover;
}

.title .bg-image--chat {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(177, 193, 122, 0.7)), to(rgba(177, 193, 122, 0.7))), url("/img/chat-large.jpg");
  background-image: linear-gradient(to right, rgba(177, 193, 122, 0.7), rgba(177, 193, 122, 0.7)), url("/img/chat-large.jpg");
  background-position: center;
}

.title .bg-image--tours {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(95, 204, 121, 0.7)), to(rgba(95, 204, 121, 0.7))), url("/img/tours-large.jpg");
  background-image: linear-gradient(to right, rgba(95, 204, 121, 0.7), rgba(95, 204, 121, 0.7)), url("/img/tours-large.jpg");
  background-position: center;
  background-size: cover;
}

.title .bg-image--resort {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(196, 96, 74, 0.7)), to(rgba(196, 96, 74, 0.7))), url("/img/resort-large.jpg");
  background-image: linear-gradient(to right, rgba(196, 96, 74, 0.7), rgba(196, 96, 74, 0.7)), url("/img/resort-large.jpg");
  background-position: center 70%;
  background-size: cover;
}

.title .bg-image--estate {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(66, 196, 192, 0.7)), to(rgba(66, 196, 192, 0.7))), url("/img/estate-large.jpg");
  background-image: linear-gradient(to right, rgba(66, 196, 192, 0.7), rgba(66, 196, 192, 0.7)), url("/img/estate-large.jpg");
  background-position: center;
}

.title__text {
  position: relative;
  z-index: 10;
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1.9;
}

@media (max-width: 37.5em) {
  .title__text {
    font-size: 2rem;
    line-height: 1.6;
  }
}

.title__text-main {
  text-transform: uppercase;
  font-size: inherit;
  font-weight: inherit;
}

.title__text-tertiary {
  font-size: 2rem;
  padding-top: 1rem;
}

.description {
  padding-bottom: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

.description > * {
  width: 38%;
}

@media (max-width: 87.5em) {
  .description > * {
    width: 40%;
  }
}

@media (max-width: 56.25em) {
  .description > * {
    width: 50%;
  }
}

@media (max-width: 37.5em) {
  .description > * {
    width: 80%;
  }
}

.description__section {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.description__title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.description__text {
  font-size: 14px;
  line-height: 1.43;
}

.description__text p {
  margin-bottom: 5px;
}

.description__text ul {
  padding-left: 1rem;
  list-style-position: inside;
  list-style-type: none;
}

.description__text ul li:before {
  content: "\2014\A0";
}

.spinner {
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 87.5em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-height: 32em) {
  html {
    font-size: 45%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

