body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.header {
  color: #333;
}

.header__text {
  font-size: 1.8rem;
  font-weight: 400;
}

.header__menu--item {
  font-size: 1.4rem;
  letter-spacing: 1.4px;
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
}

@keyframes type {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* VueJS transition */

.component-fade-enter-active,
.component-fade-leave-active {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}

body {
  background-color: #f5f5f5;
}

.header {
  height: 6.5rem;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style-type: none;
}

.header__menu:hover {
  cursor: pointer;
}

.header__menu--item {
  position: relative;
  padding: 0 1.75rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu--item a:link,
.header__menu--item a:visited,
.header__menu--item a:active {
  text-decoration: none;
  color: #333;
}

.header__menu--item:hover,
.header__menu--item:hover a {
  background-color: #333;
  color: white;
}

.header__menu--item-active_ {
  font-weight: 700;
}

.header__menu--item-active_::after {
  content: '';
  display: block;
  position: relative;
  top: 100%;
  height: 2px;
  width: auto;
  background-color: #ea1438;
  margin: 0;
}

.header__menu--item-active {
  font-weight: 700;
  border-bottom: 2px solid #ea1438;
}

.main {
  margin: 0 6.5rem 6.5rem 6.5rem;
  background-color: #fff;
  height: calc(100vh - 13rem);
}

.main-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title-1 {
  color: #888;
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 1.9px;
  margin-bottom: 4.5rem;
  -webkit-animation: type 1s steps(10), blink 0.7s 5 alternate;
          animation: type 1s steps(10), blink 0.7s 5 alternate;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: hidden;
  white-space: nowrap;
  width: 10ch;
  border-right: 3px solid;
}

.hero__title-2 {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 1.9px;
  margin-bottom: 8rem;
  color: #333;
}

.hero__button {
  text-decoration: none;
  border-radius: 5px;
  border: solid 3px #333;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333;
  padding: 2rem 6rem;
}

.hero__button:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.arrow {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.arrow img {
  width: 90x;
  height: 48px;
}

.arrow:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.card {
  margin-right: 5rem;
  position: relative;
  height: 50rem;
  width: 33.333rem;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.8);
}

.card__lms {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(112, 231, 140, 0.3)), to(rgba(112, 231, 140, 0.3))), url("/img/lms-large.jpg");
  background-image: linear-gradient(to right, rgba(112, 231, 140, 0.3), rgba(112, 231, 140, 0.3)), url("/img/lms-large.jpg");
  background-size: cover;
}

.card__blur {
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 15;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(rgba(112, 231, 140, 0.5)), to(rgba(112, 231, 140, 0.5))), url("/img/lms-large.jpg");
  background-image: linear-gradient(to right rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(to right, rgba(112, 231, 140, 0.5), rgba(112, 231, 140, 0.5)), url("/img/lms-large.jpg");
  background-size: cover;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.card__onhover {
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  position: relative;
  z-index: 30;
  color: #fff;
}

.card__onhover--title {
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  line-height: 1.75;
}

.card__onhover--tooling {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: 2.5rem;
}

.card__onhover--tools {
  font-size: 1.4rem;
  letter-spacing: 1.1px;
  text-align: center;
  margin-top: 1rem;
}

.card .card__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  letter-spacing: 1.2;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.card .card__tech-front {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card .card__tech-front--title {
  font-weight: 700;
}

.card .card__tech-back {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  list-style: none;
}

.card .card__tech-back--title {
  font-weight: 700;
}

.card:hover .card__blur,
.card:hover .card__onhover {
  opacity: 1;
}

.card__title {
  position: relative;
  z-index: 15;
  height: 15rem;
  padding: 2.5rem 5.5rem;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  line-height: 1.75;
  text-align: center;
  text-transform: uppercase;
}

.card__title--lms {
  background-color: #00ce78;
}

.card__subtitle {
  text-transform: none;
  font-weight: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

