// Colors
$color-primary-black: #333;
$color-primary-white: #fff;
$body-bg: #f5f5f5;
$bg-white: #fff;
$color-red: #ea1438;

//Portfolio-colors
// $lms-main: #30d38f; //old color
$lms-main: #42b281;
// $exam-main: #bc7ab0;
$exam-main: #96698e;
$chat-main: #B1C17A;
// $tours-main: #46f970;
$tours-main: #63c67a;
$tours-main-dark: #5fcc79;
// $resort-main: #e4502e;
$resort-main: #c4604a;
$estate-main: #42c4c0;

// Typography
$font-family: "Lato", sans-serif;
