// Variables
@import "variables";
@import "mixins";
@import "base/typography";
@import "base/animations";
@import "base/utilities";

@import "layout/header";
@import "layout/main";
@import "layout/contact";
@import "layout/about";

@import "components/card";
@import "components/project";
@import "components/spinner";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //defines 1rem = 10px
    //default font size is 16px
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;
    }
    @include respond(tab-port) {
        font-size: 50%;
    }
    @include respond(phone-land){
        font-size: 45%;
    }
}

body {
    box-sizing: border-box;
}
